@media only screen and (max-width:991px){
    /* h2 {
        font-size: 80px;
        line-height: 92px;
    }
    h3{
        font-size: 40px;
        line-height: 46px;
        margin: 16px 0;
    }
    h4{
        font-size: 24px;
        line-height: 28px;
    } */
    /* .container{
        padding: 0;
    }
    /*Header*/
    /* .header{
        padding-top: 0;
    } */
    /* .img1{
        margin: 0 0 0 30px;
    } */
    /* .img2{
        display: none;
    } */
    /* .nav{ */
        /* position: unset; */
        /* width: 65%;
    }
    .nav ul {
        width: 78%;
        margin-left: 48px;
        justify-content: space-between;
    }
    .nav ul li{
        padding: 25px 0;
    }
    .nav ul li a{
        font-size: 14px;
        line-height: 17px;
    }
    .nav ul li a b{
        display: none;
    } */
    /*Home Page*/
    /* .bg-home,
    .bg-destination,
    .bg-crew,
    .bg-technology{
        background-image: url("images/home/background-home-tablet.jpg");
        background-position: bottom;
        background-attachment: unset;
        background-size: cover;
    } */
    /*Main*/
    /* .main{
        margin-top: 110px;
        padding-bottom: 78px;
    }
    .home{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .home-content{
        width: 100%;
        text-align: center;
    }
    .p1{
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 3.375px;
    }
    .p2{
        font-size: 16px;
        line-height: 28px;
        text-align: center;
        width: 45%;
        margin: 0 auto;
    }
    .home-button{
        width: 100%;
        margin: 156px auto 0 auto;
        text-align: center;
    } */
    /*Destination Page*/
    /* .bg-destination{
        background-image: url("images/destination/background-destination-tablet.jpg");
    } */
    /*Main-D*/
    /* .main-d{
        width: 93%;
        margin-top: 64px;
        padding-bottom: 62px;
    } */
    /* .destination-content{
        align-items: center;
        position: relative;
    }
    .destination-tab{
        margin: 470px auto 0 auto;
        width: 40%;
        justify-content: space-between;
    }
    .bg-moon,
    .bg-mars,
    .bg-europa,
    .bg-titan{
        padding: 223px;
        background-position: center;
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
    }
    .planets{
        position: unset;
    }
    .planets-content {
        width: 60%;
        margin: 47px auto 0 auto;
        text-align: center;
    }
    .destination-p{
        width: 100%;
        margin-bottom: 49px;
    }
    .astronomical-unit{
        justify-content: space-around;
        padding-top: 28px;
    }
    .subheading-1{
        margin-top: 12px;
    } */
    /*Crew Page*/
    /* .bg-crew{
        background-image: url("images/crew/background-crew-tablet.jpg");
        background-position: unset;
        height: 1000px;
        padding-bottom: 100px;
    }
    .slide-flex{
        width: 100%;
        flex-direction: column;
    }
    .slidetext{
        width: 100%;
        text-align: center;
        margin-top: 60px;
    }
    .slidetext p{
        width: 57%;
        margin: 0 auto;
    }
    .width-img{
        width: 44%;
        margin-top: 100px;
        position: unset;
    }
    .m-bottom{
        width: 40%;
        transform: unset;
    }
    .v-bottom{
        width: 50%;
    }
    .a-bottom{
        width: 55%;
    }
    .dot-slide{
        margin: 0;
        position: absolute;
        top: 330px;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    } */
    /*Technology Page*/
    /* .bg-technology{
        background-image: url("images/technology/background-technology-tablet.jpg");
        position: relative;
    }
    .technology-content {
        flex-direction: column;
        padding-bottom: 35px;
    }
    .technology-tab {
        flex-direction: row;
        width: 23%;
        margin: 426px auto 44px auto;
        justify-content: space-between;
    }
    .button3 {
        height: 60px;
        width: 60px;
        font-size: 24px;
        margin: 0;
    }
    .technology-tabs-content{
        width: 100%;
        margin: 0;
    }
    .profile{
        flex-direction: column;   
    }
    .img-p{
        background-image: url(images/technology/image-launch-vehicle-landscape.jpg);
        background-repeat: no-repeat;
        padding: 171px;
        background-size: cover;
        background-position: center;
        position: absolute;
        top: 207px;
        right: 0px;
        left: 0;
    }
    .img-c{
        background-image: url("images/technology/image-space-capsule-landscape.jpg");
    }
    .img-s{
        background-image: url("images/technology/image-spaceport-landscape.jpg");
    }
    .img-p img{
        display: none;
    }
    .profile-content{
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .profile-p {
        width: 59%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 28px;
    } */
}
@media only screen and (max-width: 900px) {
    .technology-tab {
        width: 28%;
    }
}
@media only screen and (max-width:800px) {
    /*Header*/
    .nav{
        width: 70%;
    }
    .img1{
        margin-left: 20px;
    }
    /*Home Page*/
    .bg-home, .bg-destination, .bg-crew, .bg-technology {
        padding-bottom: 0;
    }
    .p2{
        width: 63%;
    }
    .button {
        padding: 98px 45px;
        font-size: 22px;
    }
    .button:hover {
        box-shadow: 0px 0px 0px 58px rgb(255 255 255 / 10%);
    }
    /*Crew Page*/
    .bg-crew{
        height: 843px;
    }
    .slidetext p{
        width: 76%;
    }
    .width-img{
        width: 37%;
    }
    .m-bottom{
        width: 35%;
    }
    .v-bottom{
        width: 39%;
    }
    .a-bottom{
        width: 44%;
    }
    .dot-slide{
        top: 295px;
    }
    /*Technology Page*/
    .technology-tab{
        width: 34%;
    }
    .profile-p{
        width: 67%;
    }
}
@media only screen and (max-width:700px) {
    /* h1{
        font-size: 130px;
        line-height: 130px;
        margin: 20px;
    } */
    /*Header*/
    .nav{
        width: 73%;
    }
    .nav ul{
        width: 85%;
        margin-left: 25px;
        justify-content: space-between;
    }
    .img1{
        width: 40px;
        height: 40px;
        margin-left: 20px;
    }
    /*Home Page*/
    .main{
        margin-top: 80px;
    }
    .home-button{
        margin-top: 100px;
    }
    .button {
        padding: 85px 35px;
        font-size: 20px;
        letter-spacing: 3px;
    }
    .button:hover {
        box-shadow: 0px 0px 0px 55px rgb(255 255 255 / 10%);
    }
    /*Destination Page*/
    .destination-tab{
        width: 50%;
    }
    .planets-content{
        width: 88%;
    }
    .days-calculate{
        margin: 0;
    }
    .destination-p{
        margin-bottom: 30px;
    }
    /*Crew Page*/
    .bg-crew{
        height: 787px;
    }
    .slidetext p{
        width: 93%;
    }
    .width-img{
        width: 40%;
        margin-top: 70px;
    }
    .m-bottom{
        width: 35%;
    }
    .v-bottom{
        width: 42%;
    }
    .a-bottom{
        width: 47%;
    }
    /*Technology Page*/
    .technology-tab{
        width: 36%;
        margin-top: 380px;
    }
    .img-p{
        padding: 136px;
        top: 210px;
    }
    .profile-p{
        width: 79%;
    }
}
@media only screen and (max-width:600px) {
    /* h1{
        font-size: 120px;
        line-height: 120px;
    } */
    /*Header*/
    .nav{
        width: 70%;
    }
    .nav ul{
        width: 88%;
        margin-left: 20px;
        justify-content: space-between;
    }
    .nav ul li{
        padding: 20px 0;
    }
    .nav ul li a {
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 14.8px;
    }
    .img1{
        width: 35px;
        height: 35px;
        margin-left: 15px;
    }
    /*Home Page*/
    /*Main*/
    .main{
        margin-top: 60px;
    }
    .p1 {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 1.375px;
    }
    .p2{
        width: 73%;
    }
    .button {
        padding: 80px 35px;
        font-size: 18px;
        letter-spacing: 3px;
    }
    .button:hover {
        box-shadow: 0px 0px 0px 40px rgb(255 255 255 / 10%);
    }
    /*Destination Page*/
    .destination-tab {
        width: 62%;
    }
    /*Crew Page*/
    .width-img{
        width: 46%;
        margin-top: 70px;
    }
    .m-bottom{
        width: 42%;
    }
    .v-bottom{
        width: 47%;
    }
    .a-bottom{
        width: 59%;
    }
    .slidetext p{
        width: 100%;
    }
    .dot-slide{
        top: 325px;
    }
    /*Technology Page*/
    .technology-tab{
        width: 45%;
        margin-top: 310px;
    }
    .img-p{
        padding: 120px;
        top: 173px;
    }
    .profile-p{
        width: 94%;
    }
}
